<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright">
            <a href="https://blog.shalomsam.com">Tech Under the Sun</a> © 2018
        </section>
        <nav class="site-footer-nav">
            <a href="https://blog.shalomsam.com">Latest Posts</a>
            <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </nav>
    </div>
</footer>