{% extends "../layout.njk" %}

{% block contentBlock %}
    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">

            <article class="post-full post tag-crypto tag-bitcoin tag-currency tag-alt-coin featured ">
                <header class="post-full-header">
                    <section class="post-full-meta">
                        <time class="post-full-meta-date" datetime="2018-01-05">{{ post.createdAt }}</time>
                        <span class="date-divider">/</span>
                        <a href="/tag/crypto/">Crypto</a>
                    </section>
                    <h1 class="post-full-title">{{ post.title }}</h1>
                </header>

                <figure class="post-full-image" style="background-image: url(/content/images/2018/01/rawpixel-com-252130.jpg)">
                </figure>

                <section class="post-full-content">
                    <div class="kg-card-markdown">
                        {{ post.html }}
                    </div>
                </section>

                <section class="subscribe-form">
                    <h3 class="subscribe-form-title">Subscribe to Tech Under the Sun</h3>
                    <p>Get the latest posts delivered right to your inbox</p>
                    <form method="post" action="/subscribe/" class="">
                        <input class="confirm" type="hidden" name="confirm">
                        <input class="location" type="hidden" name="location" value="https://blog.shalomsam.com/should-i-invest-in-cryptocurrency/">
                        <input class="referrer" type="hidden" name="referrer" value="https://blog.shalomsam.com/">

                        <div class="form-group">
                            <input class="subscribe-email" type="email" name="email" placeholder="youremail@example.com">
                        </div>
                        <button class="" type="submit">
                            <span>Subscribe</span>
                        </button>
                        <script type="text/javascript">(function (g, h, o, s, t) { h[o]('.location')[s] = h[o]('.location')[s] || g.location.href; h[o]('.referrer')[s] = h[o]('.referrer')[s] || h.referrer; })(window, document, 'querySelector', 'value');</script>
                    </form>
                </section>

                <footer class="post-full-footer">

                    <section class="author-card">
                        <section class="author-card-content">
                            <h4 class="author-card-name">
                                <a href="/author/shalom/">{{ post.author.name }}</a>
                            </h4>
                            <p>Read
                                <a href="/author/shalom/">more posts</a> by this author.</p>
                        </section>
                    </section>
                    <div class="post-full-footer-right">
                        <a class="author-card-button" href="/author/shalom/">Read More</a>
                    </div>
                </footer>

            </article>

        </div>
    </main>
{% endblock %}