<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        {# Metas #}
        {% if metas.facebook | length %}
            {% for key, value in metas.facebook %}
                <meta property="og:{{ key }}" content="{{ value }}" >
            {% endfor %}
        {% endif %}
        {% if metas.twitter | length %}
            {% for key, value in metas.facebook %}
                <meta property="twitter:{{ key }}" content="{{ value }}" >
            {% endfor %}
        {% endif %}
        {{ metas.others }}
        {# END: Metas #}

        {% block headScriptBlock %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        {% endblock %}

        {% block cssBlock %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="/admin/css/animate.min.css" rel="stylesheet">
            <link href="/admin/css/admin.css" rel="stylesheet">
            <link href="/admin/css/layout.css" rel="stylesheet">
            <link href="/admin/css/components.css" rel="stylesheet">
            <link href="/admin/css/popover.css" rel="stylesheet">
            <link href="/admin/css/colors.css" rel="stylesheet">
            <link href="/admin/css/common.css" rel="stylesheet">
        {% endblock %}

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="{{ pageClass }}">
        {% block headerBlock %}
            {% include "./common/header.njk" %}
        {% endblock %}

        {% block contentBlock %}
        {% endblock %}

        {% block footerBlock %}
            {% include "./common/footer.njk" %}
        {% endblock %}

        {% block scriptBlock %}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            {# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script> #}
            <script src="/admin/js/admin.min.js"></script>
        {% endblock %}
    </body>
</html>