<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <table style="max-width: 800px; width: 100%">
            <tr>
                <td>
                    {% include "./header.html" %}
                </td>
            </tr>
        </table>
        <table style="max-width: 800px; width: 100%">
            <tr>
                <td>
                    {% block content %}
                    {% endblock %}
                </td>
            </tr>
        </table>
        <table style="max-width: 800px; width: 100%">
            <tr>
                <td>
                    {% include "./footer.html" %}
                </td>
            </tr>
        </table>
    </body>
</html>