<header class="site-header outer">
    <div class="inner">
        <nav class="site-nav">
            <div class="site-nav-left">
                <a class="site-nav-logo" href="https://blog.shalomsam.com">
                    <img src="http://blog.shalomsam.com/content/images/2017/12/login-avatar-icon.png" alt="Tech Under the Sun">
                </a>
                <ul class="nav" role="menu">
                    <li class="nav-home" role="menuitem">
                        <a href="https://blog.shalomsam.com/">Home</a>
                    </li>
                </ul>
            </div>
            <div class="site-nav-right">
                <div class="social-links">
                </div>
                <a class="subscribe-button" href="#subscribe">Subscribe</a>
            </div>
        </nav>
    </div>
</header>